# R specific
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# renv
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
renv/tmp/

# Shiny
rsconnect/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*~
*.swp
*.swo
